		.product {
			width: 80%
			margin: 20px;
			margin-top: 60px;
  		}
  		.panel-body a {
  			text-decoration: none;
  			color: black;
  		}
  		.panel-body a:hover {
			color: #D0C9C9;
			text-decoration: none;
  		}
  		.item {
  			width: 20%;
  			float: left;
  			margin-left: 20px;
  			background-color: gray;
  		}
  		.title {
			background-color: #5F5F5F;
			color: white;
			padding: 10px 10px;
			line-height: 20px;
			padding-left: 5px;
		}
  		.descrip {
			margin: 5px;
			padding: 5px;
			font-size: 40px;
			font-style: oblique;
			color: #989898;
		}
		.Price {
			margin: 5px;
			padding: 5px;
		}
		.ads1 {
			width: 100%;
			background-color: white;
			float: left;
			position: relative;
			margin: 0px 10px;
		}
		.ads1 img {
			width: 100%;
		}
		.price {
			padding: 20px;
			color: #75C15B;
		}
		/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    	.row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    	.sidenav {
    		margin-top: 60px;
      		background-color: #f1f1f1;
      		height: 100%;
    	}
    
    /* Set black background color, white text and some padding */
    	footer {
      		background-color: #555;
      		color: white;
      		padding: 15px;
    	}
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    	@media screen and (max-width: 767px) {
      	.sidenav {
        	height: auto;
        	padding: 15px;
      	}
      	.row.content {height: auto;} 
    	}
    	.col-sm-9 {
    		margin-top: 60px;
    	}
    	hr {
    		height: 5px;
    		background-color: #f1f1f1;
    	}
    	.footer1 {
			width: 100%;
			margin: 20px;
			background-color: black;
			height: 300px;
		}
		.footer1 p {
			color: white;
			position: absolute;
			right: 200px;
			margin: auto 0;
		}
		.footer1 hr {
			background-color: white;
			width: 90%;
		}